<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
<form action="/files/upload" method="post" enctype="multipart/form-data">
    <% if (typeof folder !== 'undefined') { %>
        <input type="hidden" name="folderId" value="<%= folder.id %>" />
    <% } %>
    <input type="file" name="file" />
    <button type="submit">Upload a File</button>
</form>
    <% if (typeof error !== 'undefined' && error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
</div>

<script>
    const fileInput = document.querySelector('#fileInput');
    const fileForm = document.querySelector('#addFileForm');

    fileInput.addEventListener('change', function() {
        if (this.files && this.files.length > 0) {
            fileForm.submit();
        }
    });
</script>