<header class="site-header">
  <div class="site-logo-container">
    <a href="/">Drivebox</a>
  </div>

  <search class="search">
      <form action="<%= currentPath %>" method="GET" class="search-form">
        <input type="search" name="search" placeholder="Search..." class="searchbar" />
        <button type="submit" class="search-submit">Search</button>
      </form>
  </search>

  <span class="account-section">
    <% if (user) { %>
      <button class="account-menu-toggle">My Account</button>
    
      <span class="account-menu hidden">
        <span class="account-menu-greeting">Hi, <%= user.username %>!</span>
        <small class="account-menu-detail"><%= user.email %></small>
        <hr>
        <button class="account-menu__btn inactive">Settings</button>
        <button class="account-menu__btn inactive">Manage Account</button>
        <button class="account-menu__btn inactive">Theme</button>
        <hr>
        <form action="/logout" method="post">
          <button type="submit" class="account-menu__btn">Logout</button>
        </form>
      </span>
    <% } %>
  </span>
</header>

<% if (user) { %>
  <%- include('layout-submenu') %>
<% } %>

<script>
  let showAccountMenu = false;

  const toggle = document.querySelector(".account-menu-toggle")
  const menu = document.querySelector(".account-menu")

  toggle?.addEventListener('click', () => {
    showAccountMenu = !showAccountMenu

    if (showAccountMenu) {
      menu.classList.remove('hidden')
    } else {
      menu.classList.add('hidden')
    }
  })

  let showFolderMenu = false;

  const folderToggle = document.querySelector(".folder-menu-toggle")
  const folderMenu = document.querySelector(".folder-menu")

  folderToggle?.addEventListener('click', () => {
    showFolderMenu = !showFolderMenu

    if (showFolderMenu) {
      folderMenu.classList.remove('hidden')
    } else {
      folderMenu.classList.add('hidden')
    }
  })
</script>