<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drivebox</title>
  </head>
  <body>
    <h2><%= file.name %></h2>
    <form
      action="/files/<%= file.id %>/delete"
      method="post"
      onsubmit="
        return confirm(
          'Are you sure you want to delete the file: <%= file.name %>?',
        );
      "
    >
      <button type="submit" class="folder-detail__button">Delete File</button>
    </form>
  </body>
</html>
