<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %> - Drivebox</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('shared/layout')%>

    <main>
      <h2><%= folder.name %></h2>
      <% if (!folder.files) { %>
        <p>No items in this folder.</p>
      <% } %>
    </main>
  </body>
</html>
