<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create account — Drivebox</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('shared/layout') %>

    <main class="content-card-wrapper">
      <%- include('shared/register-form') %>
    </main>
  </body>
</html>
